<br><!-- Default form login -->
<div class="col-lg-4" style="float:none;margin:auto;">
  <form class="text-center border border-light p-5"  [formGroup]="BlogFrm">

  <p class="h4 mb-4">Blog</p>

  <!-- Email -->
  <input type="text" id="title" formControlName="title" [(ngModel)]="title" class="form-control mb-4" placeholder="Enter Your Title" autocomplete="off">

  <input type="text" id="sub_title" formControlName="sub_title" [(ngModel)]="sub_title" class="form-control mb-4" placeholder="Enter Your Sub_title" autocomplete="off" >
  <!-- Password -->
  <input type="text" id="tags" formControlName="tags" class="form-control mb-4" [(ngModel)]="tags" placeholder="Tag Here" autocomplete="off" >
  <input class="" formControlName="id" id="id" [(ngModel)]="id" hidden>

    <textarea class="form-control rounded-0" id="content" formControlName="content" rows="3" [(ngModel)]="content" placeholder="Enter Your Content" ></textarea>

  <button class="btn btn-info btn-block my-4"  [hidden]="id>=''" id="add" (click)="CreateBlog()"  type="submit">Add</button>
  <button class="btn btn-info btn-block my-4"  [hidden]="id==''" id="update" (click)="UpdateBlog()" type="submit">Update</button>


  <!-- Social login -->

</form>
<!-- Default form login -->
</div>
