<br><!-- Default form login -->
<div class="col-lg-4" style="float:none;margin:auto;">
  <form class="text-center border border-light p-5" action="#!" [formGroup]="registerform">

  <p class="h4 mb-4">Register Form</p>

  <!-- Email -->
  <input type="text" id="username" formControlName="username" class="form-control mb-4" placeholder="Enter Your Name" autocomplete="off">

  <input type="email" id="user_email" formControlName="user_email" class="form-control mb-4" placeholder="E-mail" autocomplete="off">
  <!-- Password -->
  <input type="password" id="password" formControlName="password" class="form-control mb-4" placeholder="Password" autocomplete="off">

  <!-- Sign in button -->
  <button class="btn btn-info btn-block my-4" name="register" id="register" (click)="register()"  type="submit">Register</button>

  <!-- Register -->

  <!-- Social login -->

</form>
<!-- Default form login -->
</div>
